/*||IMPORT*/
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Tilt+Neon&display=swap');

/*||RESET*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #012;
  font-size: 10px;
  scroll-behavior: smooth;
}

/*||GLOBAL*/
body {
  color: #987;
  font-family: "Jost", sans-serif;
  font-size: clamp(1rem, 2.5vw, 2.5rem);
  line-height: 1.4;
}

main {
  background-color: #123;
  border: solid 2px blue;
  border-radius: 20px;
  margin: 20px auto;
  max-width: 1000px;
  padding: 40px;
}

fieldset {
  border: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 10px;
}

fieldset:last-of-type {
  margin: 0;
}

legend {
  padding-top: 10px;
}

input[type=text],
input[type=email],
select,
textarea,
button {
  appearance: none;
  background-color: black;
  border-radius: 20px;
  border: solid 2px gray;
  color: currentColor;
  flex: 1;
  font: inherit;
  padding: 10px;
  resize: none;
}

label {
  align-items: center;
  background-color: black;
  border-radius: 20px;
  border: solid 2px gray;
  cursor: pointer;
  display: flex;
  padding: 10px;
  width: 20%;
}

input[type=radio] {
  accent-color: currentColor;
  font: inherit;
  height: 1em;
  margin-right: 15px;
  width: 1em;
}

select {
  cursor: pointer;
  margin: 0 0 0 30px;
  text-align: center;
}

textarea {
  height: 180px;
}

button {
  background-color: whitesmoke;
  cursor: pointer;
}

/*||FORM*/
.selection-label {
  background-color: transparent;
  border: none;
  padding: 0;
  padding-left: 10px;
  width: 46.5%;
}