/*||IMPORT*/
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Tilt+Neon&display=swap');

/*||VARIABLES*/
:root {
  /*Color*/
  --BGCOL: #012;
  --FNCOL: #4a4847;
  --LKCOL: #eeff88;
  --A1COL: #4e1fb3;
  --A2COL: #f1e5db;
  --A3COL: #ffcec5d8;
  --A4COL: #ff0370;
  --FMCOL: linear-gradient(45deg,
      rgb(223, 150, 210) 0%,
      hsl(7deg 83% 83%) 50%,
      hsl(41deg 35% 88%) 100%);
}

/*||RESET*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--BGCOL);
  font-size: 10px;
  scroll-behavior: smooth;
}

a:any-link {
  color: var(--LKCOL);
  text-decoration: none;
  font-weight: bold;
}

/*||GLOBAL*/
body {
  color: var(--FNCOL);
  font-family: "Jost", sans-serif;
  font-size: clamp(1rem, 3vh, 2.5rem);
  line-height: 1.4;
}

header {
  color: var(--A2COL);
  font-size: clamp(0.75em, 3vw, 1em);
  padding: 30px;
  text-align: center;
}

header p {
  font-style: italic;
  font-size: 1.25em;
}

main {
  background-image: var(--FMCOL);
  border: solid 2px whitesmoke;
  border-radius: 20px;
  margin: 0.8em auto;
  max-width: 1000px;
  padding: 1.6em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.6em;
}

fieldset {
  border: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  justify-content: space-between;
  padding: 0.4em;
}

legend {
  font-size: clamp(1em, 3vw, 1.2em);
  font-weight: 500;
  padding-top: 0.3em;
}

input[type=text],
input[type=email],
input[type=number],
select,
textarea,
button {
  appearance: none;
  background-color: var(--A2COL);
  border-radius: 20px;
  border: solid 2px whitesmoke;
  box-shadow: 2px 2px 10px var(--A3COL);
  color: currentColor;
  flex: 1;
  font: inherit;
  outline: none;
  padding: 0.4em;
  resize: none;
}

label {
  align-items: center;
  background-color: var(--A2COL);
  border-radius: 20px;
  border: solid 2px whitesmoke;
  box-shadow: 2px 2px 10px var(--A3COL);
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  gap: 0.6em;
  padding: 10px;
  width: 7.2em;
}

input[type=radio],
input[type=checkbox] {
  filter: opacity(0.75);
  cursor: pointer;
  font: inherit;
  height: 0.8em;
  width: 0.8em;
}

input[type=radio]:checked,
input[type=checkbox]:checked {
  accent-color: var(--A2COL);
  filter: none;
}

input[type=radio]:checked {
  accent-color: var(--LKCOL);
}

select {
  cursor: pointer;
  text-align: center;
}

textarea {
  height: 180px;
}

button {
  background-color: var(--LKCOL);
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 500;
}

/*||HEADER*/
.koolors-logo {
  align-items: center;
  display: flex;
}

.koolors-logo img {
  filter: saturate(300%) brightness(200%) contrast(100%) hue-rotate(180deg);
  max-width: 500px;
  min-width: 75px;
  width: 4em;
}

.koolors-logo h1 {
  color: var(--A2COL);
  filter: drop-shadow(2px 2px 30px var(--LKCOL));
  font-family: "Tilt Neon", sans-serif;
  font-size: 3em;
  font-style: normal;
  font-weight: 400;
}

.koolors-logo h2 {
  color: var(--A4COL);
  font-size: 2em;
  margin: 0.2em;
}

/*||FORM*/
.optional {
  filter: opacity(0.75);
  font-style: italic;
  font-weight: 400;
}

.selection-label {
  background-color: transparent;
  border: none;
  box-shadow: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 0;
  padding-left: 10px;
  width: 46.5%;
}

/*||FOOTER*/
.footer {
  color: #f9faf8;
  background-color: var(--A1COL);
  font-family: monospace;
  padding: 20px 30px;
}

.footer p {
  margin-bottom: 20px;
}

.footer-button {
  background-color: var(--A1COL);
  border-radius: 5px;
  filter: invert(1);
  padding: 5px
}

.footer-info {
  display: block;
  padding-top: 10px;
}

.footer-info img {
  display: inline;
  width: 25px;
  margin-bottom: -4px;
  margin-right: -4px;
}

/*||HOVER*/
button:hover,
label:hover,
input[type=text]:hover,
input[type=email]:hover,
input[type=number]:hover,
textarea:hover {
  filter: brightness(1.1) saturate(1.5) hue-rotate(20deg);
}